<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	
	<title> Sign Up </title>
	<link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<section>
	<h1> Sign Up Form </h1>
	<form th:action="@{user}" method="post" th:object="${user}">
	<label> Name: </label><br>
	<input type="text" th:field="*{name}"><br><br>
	
	<label> Email address: </label><br>
	<input type="email" th:field="*{email}"><br><br>
	
	<label> Password: </label><br>
	<input type="password" th:field="*{password}"><br><br>
	
	<input type="submit" value="Submit">
	</form>
</section>
</body>
</html>